section{
    display: flex;
   /* justify-content: space-between;*/
   justify-content: space-around;
   gap: 20px;
    border: 5px solid black;
    align-items: center;
    flex-wrap: wrap;
    
}

.div{
    width: 350px;
    height: 350px;
    font-size: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block1{
    background: #6eff4a 

}
.block2{
    background: #ff0a0a;
    
}
.block3{
    background: #b616f5;
}
.block4{
    background: #6affeb;
}