.Bg{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 520px;
    height: 270px;
}
main{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(14, 49, 20);
    box-shadow: 5px 5px 20px rgb(14, 48, 45);
    display: flex;
    gap: 30px;
    padding: 35px;
    align-items: center;
    width: 450px;
    height: 200px;
    font-family: cursive;
}
.line{
    width: 3px;
    height: 180px;
    background: rgb(82, 189, 105);
    border-radius: 2px;
}
a{
    color:rgb(16, 60, 68);
    text-decoration: none;
}
a:hover{
    color: rgb(82, 189, 105);
}